<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

    <targets async="true">
        <target name="logfile" xsi:type="File" fileName="file.txt" />
        <target name="logfile" xsi:type="File" fileName="file.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=tostring}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
</nlog>

public static class Program
{
    try
    {
        private static readonly NLog.Logger Logger = NLog.LogManager.GetCurrentClassLogger();

        public static void Main()
        {
            try
            {
            Logger.Info("Hello world");
            System.Console.ReadKey();
            }
            catch (Exception ex)
            {
            Logger.Error(ex, "Goodbye cruel world");
            }
        }
    }
    catch (Exception ex)
    {
        logger.Error(ex, "Something bad happened");
    }

    NLog.LogManager.Shutdown();
}  